
@model object;

@{
    ViewData["Title"] = "Lista de Paciente";
}


<partial name="PartialViews/_cabecalho" />


<div class="panel panel-success panel-controls">

    <div class="panel panel-heading">
        <h3>Lista de Paciente</h3>
    </div>

</div>