

@{
    ViewData["Title"] = "Lista de Paciente";
}


   <vc:cabecalho titulo="Gestão de Pacientes" subtitulo="Controle geral de cadastro de Pacientes"></vc:cabecalho>

<partial name="PartialViews/_estado_paciente" />

<div class="panel panel-success panel-controls">

    <div class="panel panel-heading">
        <h3>Lista de Paciente</h3>
    </div>

</div>