@{
    ViewData["Title"] = "Privacy Policy";
}

<vc:cabecalho titulo="Gestão de Pacientes" subtitulo="Controle de privacidade"></vc:cabecalho>

<partial name="PartialViews/_estado_paciente" />

<p>Use this page to detail your site's privacy policy.</p>

@*@section Scripts {
    <script src="~/bundle/dashboard.min.js"></script>
}*@
