@model Cooperchip.ItDeveloper.Domain.Entities.EstadoPaciente

@{
    ViewData ["Title"] = "Exclusão de Estado do Paciente";
}


<partial name="PartialViews/_cabecalho" />


<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Esclusão de Estado Paciente</h3>
    </div>

    <div class="panel panel-body">

        <div>
            <h5>Está certo que deseja excluir este registro?</h5> 
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
            </dl>
        </div>
        <form asp-asp-controller="EstadoPaciente" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <a class="btn btn-default" asp-asp-controller="EstadoPaciente" asp-action="Index">Voltar para a Lista</a>
        </form>

    </div>
</div>