<div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">       
        <vc:status-paciente estado="Crítico"></vc:status-paciente>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <vc:status-paciente estado="Grave"></vc:status-paciente>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <vc:status-paciente estado="Em Observação"></vc:status-paciente>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <vc:status-paciente estado="Estável"></vc:status-paciente>
    </div>
</div>