@using Cooperchip.ItDeveloper.Mvc.Controllers;
@model IEnumerable<Paciente>

<h1>Gestão de Paciente</h1>
<hr />
<p>
    O que é Lorem Ipsum?
    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
</p>

<div class="row">
    <div class="panel panel-body">
        <div class="col-12">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel panel-heading">
                        <h3>Lista de Pacientes</h3>
                    </div>
                </div>

                <hr />

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id do Paciente</th>
                            <th>Nome do Paciente</th>
                            <th>Cpf</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Nome</td>
                                <td>@item.Cpf</td>
                                <td>
                                    <a class="btn btn-warning" asp-route-id="@item.Nome" 
                                                            asp-controller="Paciente"
                                                            asp-action="DetalheDePaciente"
                                                            title="Detalhes de Paciente">
                                                            Detalhe de Paciente
                                                        </a>
                                    <a class="btn btn-info" href="javascript:void();" title="Editar Paciente">Editar Paciente</a>
                                    <a class="btn btn-danger" href="javascript:void();" title="Excluir Paciente">Excluir Paciente</a>

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>